.goals-dashboard {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px 20px 20px;
    width: 100%;
    max-width: 400px; /* Добавил ограничение ширины */
    margin: 0 auto;

    font-family: 'Arial', sans-serif;
}

.goals-summary {
    text-align: center;
}

.goals-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.goals-circle {
    position: relative;
    width: 120px;
    height: 120px;
    margin: 20px auto;
}

.goal-circle-background {
    fill: none;
    stroke: #e5e7eb;
    stroke-width: 10;
}

.goal-circle-progress {
    fill: none;
    stroke: #f97316;
    stroke-width: 10; /* Толщина прогресса */
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 0.5s ease;
}

.percentage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    font-weight: bold;
    color: #f97316;
}

.goals-achieved {
    color: #f97316;
    font-weight: bold;
}

.goals-not-achieved {
    color: #6b7280;
    margin-bottom: 20px;
}
/*#TODO разобраться с конфликтов имен*/

.habit-list {
    margin-top: 20px;
}

.goal-card {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    background-color: #f9fafb;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.habit-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.habit-progress-circle {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.habit-circle-background {
    fill: none;
    stroke: #e5e7eb;
    stroke-width: 5;
}

.habit-circle-progress {
    fill: none;
    stroke: #4caf50;
    stroke-width: 5;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: center;
    transition: stroke-dashoffset 0.5s ease;
}

.habit-percentage-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
    font-weight: bold;
    color: #4caf50;
}

.habit-info {
    flex: 1;
}

.habit-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    color: #111827;
}

.habit-status {
    font-size: 0.9em;
    margin-bottom: 5px;
    color: #6b7280;
}

.status-achieved {
    color: #4caf50;
    font-weight: bold;
}

.status-unachieved {
    color: #f44336;
    font-weight: bold;
}

.habit-details {
    font-size: 0.85em;
    color: #6b7280;
}

.goals-see-all {
    padding-top: 15px;
    text-align: center;
}

.goals-see-all a {
    color: #f97316;
    text-decoration: none;
    font-weight: bold;
}

.goals-see-all a:hover {
    text-decoration: underline;
}
